<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>LMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
</head>

<body>
    {% block title %}
    <title>Testify</title>
    {% endblock %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'core:index' %}">Testify</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">

         
          <a class="p-2 text-dark" href="{% url 'core:index' %}">Index</a>
          <a class="p-2 text-dark" href="{% url 'core:index' %}">Index</a>
          <a class="p-2 text-dark" href="{% url 'core:index' %}">Index</a>
          

        </nav>
   
         {{ user  }}

         {% if user.is_authenticated %}
           
          <div class="img-circle.vert">
          <img class="rounded-circle p-1 m-1" width="40" height="40"  src="{{ user.profile.image.url }}">
          </div>

            <a class="mb-2 mr-2 btn btn-outline-primary btn-sm" href="{% url 'accounts:profile' %}">Profile({{ user }})</a>
            <a class="mb-2 mr-2 btn btn-outline-primary btn-sm" href="{% url 'accounts:logout' %}">Logout</a>
         {% else %}
            <a class="mb-2 mr-2 btn btn-outline-primary btn-sm" href="{% url 'accounts:login' %}">Sign In</a>
            <a class="mb-2 mr-2 btn btn-outline-primary btn-sm" href="{% url 'accounts:register' %}">Register</a>
         {% endif %}

        
      </div>
    
    <div class="container">
    <div class="border border-primary rounded-pill text-center m-3">
      
    {% block header %}
    
    <header>
      {% include 'includes/messages.html' %}
      <strong><p>Welcome to Testify</p></strong>
    </header>
    {% endblock %}
    </div>   

    

    {% block content %}

    {% endblock %}

  </div>

</body>
</html>