{% extends 'base.html' %}

{% block title %}
    <title>Main Pages</title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="card-deck mb-3 text-center">

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Notes</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4"> 
        </ul>
        <h1><a class="p-2 text-dark" href="{% url 'core:index' %}">Index</a></h1>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Index</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4"> 
        </ul>
        <h1><a class="p-2 text-dark" href="{% url 'core:index' %}">Index</a></h1>
        </div>
    </div>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Index</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4"> 
        </ul>
        <h1><a class="p-2 text-dark" href="{% url 'core:index' %}">Index</a></h1>
        </div>
    </div>

    </div>
  </div>
  

{% endblock %}
